<div class="row">
  <div class="col-sm-12 col-md-4 col-md-offset-4">
    <form>
      <h2 style="text-align: center">Authentication Form</h2>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          type="email"
          id="email"
          placeholder="Your email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          placeholder="Your password"
        />
      </div>
      <div class="btn-toolbar">
        <button class="btn btn-primary">Sign Up</button>
        <button class="btn btn-primary">Switch mode</button>
      </div>
    </form>
  </div>
</div>
