<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <app-alert
      [message]="error"
      *ngIf="error"
      (close)="onHandleError()"
    ></app-alert>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <h2 style="text-align: center">Authentication Form</h2>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          type="email"
          id="email"
          placeholder="Your email"
          required
          email
          ngModel
          name="email"
          #email="ngModel"
        />
      </div>
      <span class="errorMessage" *ngIf="!email.valid && email.touched"
        >Email is required</span
      >
      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          placeholder="Your password"
          required
          minlength="6"
          ngModel
          name="password"
          #password="ngModel"
        />
      </div>
      <span class="errorMessage" *ngIf="!password.valid && password.touched"
        >Invalid Password</span
      >
      <div class="btn-toolbar">
        <button class="btn btn-primary" type="submit">
          {{ isLoginMode ? "Login" : "Signup" }}
        </button>
        <button class="btn btn-danger" (click)="toggleMode()" type="button">
          Switch mode to {{ isLoginMode ? "Signup" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
